<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue Wolves</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div id="app">
            <h1>{{animal}}</h1>
            <span v-for="image in images">
                <img v-bind:src="image.src" v-on:click="titleChange(image)" alt="image.alt" class="wolf">
            </span>
            <input v-model.number="wolfId" id="wolfId" placeholder="Pick a wolf">
            <span v-if="!wolfIdValid" style="color:maroon">Pick a number between 0 and {{images.length}}</span>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>